

<div style="margin-top:10%" class="section" id="ErrorTypeChooser">
	<div class="form-group">
		<label for="ScriptNumber" style="font-size: 50px;">Script Number</label>
		<input type="number" style="font-size: 60px; height: 80px;" class="form-control" id="ScriptNumber" placeholder="Enter Script Number">
	</div>
	<button type="button" class="btn btn-primary btn-lg btn-block errorType" style="height:100px" data-errortype="EntryErrors" onclick="ShowSectionHideOthers('EntryErrors')"><h1 style="display: inline;">Entry</h1> <span style="font-size: 30px;" class="glyphicon glyphicon-ok"></span></button>
	<button type="button" class="btn btn-secondary btn-lg btn-block errorType" style="height:100px" data-errortype="DispensingErrors" onclick="ShowSectionHideOthers('DispensingErrors')">Dispensing</button>
</div>

<div class="container section" id="EntryErrors" style="margin-top:20pt; display:none">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Entry Errors</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6">
					@{
						foreach (var error in ViewBag.EntryErrors)
						{
							if (error.Id % 2 == 1)
							{
								<button data-errorId="@error.Id" type="button" class="btn btn-primary btn-lg btn-block error">@error.ErrorDescription</button>
							}

						}
					}
				</div>
				<div class="col-md-6">
					@{
						foreach (var error in ViewBag.EntryErrors)
						{
							if (error.Id % 2 == 0)
							{
								<button data-errorId="@error.Id" type="button" class="btn btn-primary btn-lg btn-block error">@error.ErrorDescription</button>
							}

						}
					}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="text-align: center;">
					<button type="button" style="margin-top: 20px; padding-left: 60px; padding-right: 60px;" class="btn btn-lg btn-success" onclick="ShowSectionHideOthers('ProcessingStaff')">Next</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container section" id="DispensingErrors" style="margin-top:20pt; display:none">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Dispensing Errors</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6">
					@{
						foreach (var error in ViewBag.DispensingErrors)
						{
							if (error.Id % 2 == 1)
							{
								<button data-errorId="@error.Id" type="button" class="btn btn-primary btn-lg btn-block error">@error.ErrorDescription</button>
							}

						}
					}
				</div>
				<div class="col-md-6">
					@{
						foreach (var error in ViewBag.DispensingErrors)
						{
							if (error.Id % 2 == 0)
							{
								<button data-errorId="@error.Id" type="button" class="btn btn-primary btn-lg btn-block error">@error.ErrorDescription</button>
							}

						}
					}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" style="text-align: center;">
				<button type="button" style="margin-top: 20px; padding-left: 60px; padding-right: 60px;" class="btn btn-lg btn-success" onclick="ShowSectionHideOthers('ProcessingStaff')">Next</button>
			</div>
		</div>
	</div>
</div>

<div class="container section" id="ProcessingStaff" style="margin-top:20pt; display:none">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h1 class="panel-title">Processing Staff</h1>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<form>
								<div class="form-group">
									<label for="exampleFormControlSelect1" style="font-size: 3.25rem;">Enter:</label>
									<select class="form-control form-control-lg pstaff" id="ProcessingStaffEnter" style="font-size: 3.25rem; height:50px">
										<option>Please Select</option>
										@{		foreach (var staff in ViewBag.Staff)
											{
												<option value="@staff.Id">@staff.FirstName</option>	}
										}
									</select>
								</div>

								<div class="form-group">
									<label for="exampleFormControlSelect1" style="font-size: 3.25rem;">Dispensing:</label>
									<select class="form-control form-control-lg pstaff" id="ProcessingStaffDispensing" style="font-size: 3.25rem; height:50px">
										<option>Please Select</option>
										@{		foreach (var staff in ViewBag.Staff)
											{
												<option value="@staff.Id">@staff.FirstName</option>	}
										}
									</select>
								</div>

								<div class="form-group">
									<label for="exampleFormControlSelect1" style="font-size: 3.25rem;">Check:</label>
									<select class="form-control form-control-lg pstaffLast" id="ProcessingStaffChecked" style="font-size: 3.25rem; height:50px" onchange="ShowSectionHideOthers('NoticedStaff')">
										<option>Please Select</option>
										@{		foreach (var staff in ViewBag.Staff)
											{
												<option value="@staff.Id">@staff.FirstName</option>	}
										}
									</select>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container section" id="NoticedStaff" style="margin-top:20pt; display:none">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">Noticed Staff</h3>
				</div>
				<div class="panel-body">
					<form>
						<div class="form-group">
							<label for="exampleFormControlSelect1" style="font-size: 3.25rem;">Enter:</label>
							<select class="form-control form-control-lg nstaff" id="NoticedStaffEnter" style="font-size: 3.25rem; height:50px">
								<option>Please Select</option>
								@{		foreach (var staff in ViewBag.Staff)
									{
										<option value="@staff.Id">@staff.FirstName</option>	}
								}
							</select>
						</div>

						<div class="form-group">
							<label for="exampleFormControlSelect1" style="font-size: 3.25rem;">Dispensing:</label>
							<select class="form-control form-control-lg nstaff" id="NoticedStaffDispensing" style="font-size: 3.25rem; height:50px">
								<option>Please Select</option>
								@{		foreach (var staff in ViewBag.Staff)
									{
										<option value="@staff.Id">@staff.FirstName</option>	}
								}
							</select>
						</div>

						<div class="form-group">
							<label for="exampleFormControlSelect1" style="font-size: 3.25rem;">Check:</label>
							<select class="form-control form-control-lg nstaffLast" id="NoticedStaffChecked" style="font-size: 3.25rem; height:50px" onchange="ShowSectionHideOthers('Outcomes')">
								<option>Please Select</option>
								@{		foreach (var staff in ViewBag.Staff)
									{
										<option value="@staff.Id">@staff.FirstName</option>	}
								}
							</select>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container section" id="Outcomes" style="margin-top:20pt; display:none">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">Action</h3>
		</div>
		<div class="panel-body">
			<div class="row">

				<div class="col-md-6">
					@{
						foreach (var outcome in ViewBag.Outcomes)
						{
							if (outcome.Id % 2 == 1)
							{
								<button data-outcomeId="@outcome.Id" type="button" class="btn btn-primary btn-lg btn-block error">@outcome.OutcomeDescription</button>
							}

						}
					}
				</div>
				<div class="col-md-6">
					@{
						foreach (var outcome in ViewBag.Outcomes)
						{
							if (outcome.Id % 2 == 0)
							{
								<button data-outcomeId="@outcome.Id" type="button" class="btn btn-primary btn-lg btn-block error">@outcome.OutcomeDescription</button>
							}

						}
					}
				</div>
				<div class="form-group">
					<label for="exampleFormControlSelect1" style="font-size: 3.25rem;">Completed By:</label>
					<select class="form-control form-control-lg cstaff" id="CompletedBy" style="font-size: 3.25rem; height:50px" onchange="ShowSectionHideOthers('Outcomes')">
						<option>Please Select</option>
						@{		foreach (var staff in ViewBag.Staff)
							{
								<option value="@staff.Id">@staff.FirstName</option>	}
						}
					</select>
				</div>
			</div>
		</div>
	</div>
</div>


<script>

	var data = {
		ScriptNumber: "",
		ErrorIds: [],
		ProcessingStaffEnter: "",
		ProcessingStaffDispensing: "",
		ProcessingStaffChecked: "",
		NoticedStaffEnter: "",
		NoticedStaffDispensing: "",
		NoticedStaffChecked: "",
		Outcome: ""
	}

	$(document).ready(function () {

		$("button.errorType").each(
			function () {
				$(this).on("click", function () {
					AddToData("ScriptNumber", $("#ScriptNumber").val());
					var errorType = $(this).attr("data-errortype");
					ShowSectionHideOthers(errorType);
				});
			}
		);

		$("button.error").each(
			function () {
				$(this).on("click", function () {
					//ProcessValue("error", $(this).text(), "ProcessingStaff");

					data.ErrorIds.push($(this).attr("data-errorId"));
				});
			}
		);

		$("select.pstaff").each(function () {
			$(this).change(function () { AddToData($(this).attr("id"), $(this).val()); });
		});

		$("select.pstaffLast").each(function () {
			$(this).change(function () { ProcessValue($(this).attr("id"), $(this).val(), "NoticedStaff"); });
		});

		$("select.nstaff").each(function () {
			$(this).change(function () { AddToData($(this).attr("id"), $(this).val()); });
		});

		$("select.nstaffLast").each(function () {
			$(this).change(function () { ProcessValue($(this).attr("id"), $(this).val(), "Outcomes"); });
		});

		$("button.outcome").each(
			function () {
				$(this).on("click", function () {
					//ProcessValue("Outcome", $(this).text(), "ErrorTypeChooser");
					//SubmitData();
					AddToData("Outcome", $(this).attr("data-outcomeId"));
				});
			}
		);

		$("select.cstaff").each(function () {
			$(this).change(function () {
				ProcessValue($(this).attr("id"), $(this).val(), "ErrorTypeChooser");
				SubmitData();
			});
		});
	});

	function ProcessValue(section, value, nextSection) {
		AddToData(section, value);
		ShowSectionHideOthers(nextSection);
	}

	function AddToData(section, value) {
		data[section] = value;
	}

	function ShowSectionHideOthers(type) {
		$("div.section").each(function (index) {
			//console.log(index + ": " + $(this).text());
			if ($(this)[0].id != type) {
				$(this).css("display", "none");
			}
			else {
				$(this).css("display", "block");
			}
		});
	}

	function SubmitData() {
		$.ajax({
			url: window.location.origin + "/api/ErrorAudit",
			method: "POST",
			data: this.data,
			success: function (result) {
				//$("#div1").html(result);
				ShowSectionHideOthers("ErrorTypeChooser");
			}
		});
	}

</script>
