@model ErrorAudit.DataAccess.ViewModel.ErrorViewModel

@using (Html.BeginForm("Create", "Error", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	var editError = ViewBag.EditError;
	string EditCode = editError != null ? editError.Code : "";
	string EditDescription = editError != null ? editError.Description : "";

	@Html.AntiForgeryToken()

	<div class="form-group">
		@Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Code, new { @class = "form-control" })

		</div>
	</div>
	@Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" });
	<div class="form-group">
		@Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Description, new { @class = "form-control", @Value = EditDescription })
		</div>
	</div>
	@Html.ValidationSummary("", new { @class = "text-danger" })
	<div class="form-group">
		@Html.LabelFor(m => m.ErrorType, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.DropDownListFor(m => m.ErrorType, ViewBag.ErrorTypes as IEnumerable<SelectListItem>, new { @class = "form-control" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-default" value="Add New Error" />
		</div>
	</div>
}

